<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FormulaireServlet</servlet-name>
        <servlet-class>com.lacgaa.tdsi.FormulaireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connexionServlet</servlet-name>
        <servlet-class>com.lacgaa.tdsi.connexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connectionServlet</servlet-name>
        <servlet-class>com.lacgaa.tdsi.connectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormulaireServlet</servlet-name>
        <url-pattern>/myformulaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connexionServlet</servlet-name>
        <url-pattern>/connexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connectionServlet</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>entrepriseFormServlet</servlet-name>
        <url-pattern>/entreprise</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ConnectionEntServlet</servlet-name>
        <url-pattern>/connection_ent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>panierServlet</servlet-name>
        <url-pattern>/ajout-panier</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
    	<servlet-name>listServlet</servlet-name>
    	<url-pattern>/list</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
